<mat-grid-list cols="3" rowHeight="40px" gutterSize="2px">
    <mat-grid-tile class="detailsTile">
        <div class="detailsLabel">Name</div>
        <div class="detailsValue">{{viewDetails.name}}</div>
    </mat-grid-tile>
    <mat-grid-tile class="detailsTile">
        <div class="detailsLabel">BBAN</div>
        <div class="detailsValue">{{viewDetails.bban}}</div>
    </mat-grid-tile>
    <mat-grid-tile class="detailsTile">
        <div class="detailsLabel">Number Of Payments Made</div>
        <div class="detailsValue">{{viewDetails.numberOfPaymentsMade}}</div>
    </mat-grid-tile>
    <mat-grid-tile class="detailsTile">
        <div class="detailsLabel">Type</div>
        <div class="detailsValue">{{viewDetails.type}}</div>
    </mat-grid-tile>
    <mat-grid-tile class="detailsTile">
        <div class="detailsLabel">Parent Customer -Refund</div>
        <div class="detailsValue">{{viewDetails.parentCustomerRefund}}</div>
    </mat-grid-tile>
    <mat-grid-tile class="detailsTile">
        <div class="detailsLabel">First Payment Date</div>
        <div class="detailsValue">{{viewDetails.firstPaymentDate}}</div>
    </mat-grid-tile>
    <mat-grid-tile class="detailsTile">
        <div class="detailsLabel">BIC</div>
        <div class="detailsValue">{{viewDetails.bic}}</div>
    </mat-grid-tile>
    <mat-grid-tile class="detailsTile">
        <div class="detailsLabel">Company Id</div>
        <div class="detailsValue">{{viewDetails.companyId}}</div>
    </mat-grid-tile>
    <mat-grid-tile class="detailsTile">
        <div class="detailsLabel">Bank Account Type</div>
        <div class="detailsValue">{{viewDetails.bankAccountType}}</div>
    </mat-grid-tile>
    <mat-grid-tile class="detailsTile">
        <div class="detailsLabel">Parent Partner</div>
        <div class="detailsValue">{{viewDetails.parentPartner}}</div>
    </mat-grid-tile>
    <mat-grid-tile class="detailsTile">
        <div class="detailsLabel">Date of Reference Mandate </div>
        <div class="detailsValue">{{viewDetails.dateOfReferenceMandate}}</div>
    </mat-grid-tile>
    <mat-grid-tile class="detailsTile">
        <div class="detailsLabel">Billing Sequence Type</div>
        <div class="detailsValue">{{viewDetails.billingSequenceType}}</div>
    </mat-grid-tile>
    <mat-grid-tile class="detailsTile">
        <div class="detailsLabel">Issuer Number</div>
        <div class="detailsValue">{{viewDetails.issuerNumber}}</div>
    </mat-grid-tile>
    <mat-grid-tile class="detailsTile">
        <div class="detailsLabel">Reference Amended</div>
        <div class="detailsValue">{{viewDetails.referenceAmended}}</div>
    </mat-grid-tile>
    <mat-grid-tile class="detailsTile">
        <div class="detailsLabel">finalPaymentDate</div>
        <div class="detailsValue">{{viewDetails.finalPaymentDate}}</div>
    </mat-grid-tile>
    <mat-grid-tile class="detailsTile">
        <div class="detailsLabel">Signature </div>
        <div class="detailsValue">{{viewDetails.signature}}</div>
    </mat-grid-tile>
    <mat-grid-tile class="detailsTile">
        <div class="detailsLabel">Bank Fee Code</div>
        <div class="detailsValue">{{viewDetails.bankFeeCode}}</div>
    </mat-grid-tile>
    <mat-grid-tile class="detailsTile">
        <div class="detailsLabel">Subsidiary</div>
        <div class="detailsValue">{{viewDetails.subsidiary}}</div>
    </mat-grid-tile>
    <mat-grid-tile class="detailsTile">
        <div class="detailsLabel">Address1</div>
        <div class="detailsValue">{{viewDetails.address1}}</div>
    </mat-grid-tile>
    <mat-grid-tile class="detailsTile">
        <div class="detailsLabel">Address2</div>
        <div class="detailsValue">{{viewDetails.address2}}</div>
    </mat-grid-tile>
    <mat-grid-tile class="detailsTile">
        <div class="detailsLabel">Address3</div>
        <div class="detailsValue">{{viewDetails.address3}}</div>
    </mat-grid-tile>
    <mat-grid-tile class="detailsTile">
        <div class="detailsLabel">Swift Code</div>
        <div class="detailsValue">{{viewDetails.swiftCode}}</div>
    </mat-grid-tile>
    <mat-grid-tile class="detailsTile">
        <div class="detailsLabel">State</div>
        <div class="detailsValue">{{viewDetails.state}}</div>
    </mat-grid-tile>
    <mat-grid-tile class="detailsTile">
        <div class="detailsLabel">ZIP</div>
        <div class="detailsValue">{{viewDetails.zip}}</div>
    </mat-grid-tile>
    <mat-grid-tile class="detailsTile">
        <div class="detailsLabel">Country</div>
        <div class="detailsValue">{{viewDetails.country}}</div>
    </mat-grid-tile>

</mat-grid-list>
