<div class="titleDiv">
    <app-titleone>Bank Details</app-titleone>  
</div>
<div>
    <app-bankdetailsform [bankdetails]=bankDetailsForm (submitBankDetails)="submitBankDetails($event)"></app-bankdetailsform>
</div>
<div class="notesWrapper">
    <mat-tab-group mat-align-tabs="start">
        <mat-tab label="Notes">
            <app-noteslist [bankdetails]=bankDetailsForm (addNotes)="addNotes($event)" (deleteNotes)="deleteNotes($event)"></app-noteslist>
        </mat-tab>
        <mat-tab label="Files">Files</mat-tab>
      </mat-tab-group>
</div>

<div class="optionsDiv">
        <button mat-raised-button class="submitBtn" [disabled]=!bankDetailsForm.valid  (click)="submitBankDetails(bankDetailsForm)">Submit</button>
        <button mat-raised-button class="cancelBtn">Cancel</button>
</div>





